<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #500000;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .main-content {
            display: flex;
            flex-wrap: wrap;
        }

        .upload_files {
            flex: 1;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .recents {
            flex: 1;
            background-color: #e0e0e0;
            padding: 20px;
        }

        /* Media Query for Responsiveness */
        @media screen and (max-width: 768px) {
            .main-content {
                flex-direction: column;
            }
        }
    </style>
</head>

<body>
    <header>
        <h1>Course Evaluation Summarizer</h1>
    </header>

    <div class="main-content">
        <div class="upload_files">
            <h1>Upload Files</h1>
            <form action="<%= homepage_path %>" method="post" enctype="multipart/form-data">
            <div class="field">
              <label for="file">Choose a file to upload:</label>
              <input type="file" id="file" name="file">
            </div>
            <br>
           <!-- <input type="submit" value="Generate">-->
              <style>
              .btn {
              background-color: #C0C0C0; /* Background color */
              color: #000; /* Text color */
              padding: 5px 10px; /* Padding inside the button */
              border: none; /* No border */
              border-radius: 5px; /* Rounded corners */

              }
              </style>
              <%= link_to "Generate", generate_excel_path, class: "btn" %>
          </form>
        </div>

        <div class="recents">
            <h1>Recents</h1>
            <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Download Link</th>
            </tr>
            </thead>
            <tbody>
                <% @recent_excel_sheets.each do |excel_sheet| %>
                <tr>
                    <td><%= excel_sheet.name %></td>
                    <td><%= excel_sheet.description %></td>
                    <td><%= link_to "Download", download_excel_sheet_path(excel_sheet) %></td>
                </tr>
            <% end %>
            </tbody>
            </table>
        </div>
    </div>

</body>

</html>