<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #500000;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .main-content {
            display: flex;
            flex-wrap: wrap;
        }

        .upload_files {
            flex: 1;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .recents {
            flex: 1;
            background-color: #e0e0e0;
            padding: 20px;
        }

        /* Media Query for Responsiveness */
        @media screen and (max-width: 768px) {
            .main-content {
                flex-direction: column;
            }
        }
        

    .dropdown {
      position: fixed;
      top: 10px; 
      right: 10px; 
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    </style>
</head>

<body>
    <header>
        <h1>Course Evaluation Summarizer</h1>
    </header>

    <style>
        .btn {
            background-color: #C0C0C0; 
            color: #000;
            padding: 5px 10px; 
            border: none; 
            border-radius: 5px;
        }
    </style>

    <div class="main-content">
    <div class="upload_files">
    <h1>Upload Files</h1>
      <br>
      <% if flash[:error].present? %>
        <div class="alert alert-danger" style="background-color: #e0e0e0; color: #7C0A02; padding: 10px; border: 1px solid #e0e0e0; border-radius: 5px; font-size: 14px;">
          <%= flash[:error] %>
        </div>
      <% end %>
      <br>
    <%= form_with(model: @excel_sheet, url: excel_sheets_create_path, local: true, method: :post, html: { multipart: true }) do |form| %>
      <div class="field">
        <%= form.label :uploaded_files, 'Choose a file to upload:', multiple: true %>
        <%= form.file_field :uploaded_files, multiple: true %>
      </div>
      <br>
      <div class="actions">
        <%= form.submit "Generate", class: "btn"%>
      </div>
    <% end %>
  </div>
  

        <div class="recents">
            <h1>Recents</h1>
            <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Download Link</th>
            </tr>
            </thead>
            <tbody>
                <% @processed_sheet.each do |processed_sheets| %>
                <tr>
                    <td><%= processed_sheets.name %></td>
                    <td><%= processed_sheets.description %></td>
                    <td><%= link_to "Download", download_processed_sheet_path(report_id_final: processed_sheets.report_id_final) %></td>
                </tr>
            <% end %>
            </tbody>
            </table>
        </div>
    </div>
        <div class="dropdown">
            <button class="dropdown-item" onclick="redirectToSection1()">Profile</button>
            <button class="dropdown-item" onclick="redirectToSection2()">Download  </button>
        </div>
        <script>
        function redirectToSection1() {
          
          window.location.href = '/'; 
        }
        function redirectToSection2() {
          
          window.location.href = '/download_report'; 
        }
      </script>
</body>

</html>